<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Lanchonete Fatec</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{'https://wa.me/12981643744?text=Olá!%20Gostaria%20de%20me%20tornar%20um(a)%20vendedor(a).'}">Solicitar Acesso</a>
              </li>
            </ul>
            <span class="navbar-text">
              Sistema da Lanchonete da Fatec Cruzeiro
            </span>
          </div>
        </div>
      </nav>
    

    <div class="container-fluid text-center">
        <div >
            <h3>Produtos Disponíveis</h3>
        </div>
            <table class="table table-hover table align-middle">
                <thead >
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Vendedor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <th:block th:each="produtos:${listProdutos}" th:if="${produtos.disponivel == 'Disponível'}">
                        <tr>
                            <td>[[${produtos.nome}]]</td>
                            <td>R$[[${produtos.valor}]]</td>
                            <td><strong>Nome: </strong>[[${produtos.user.nome}]]<br><strong>Curso:</strong> [[${produtos.user.curso}]]<br><strong>Período:</strong> [[${produtos.user.periodo}]]</td>
                            <td style="width: 250px;">
                                <a class="btn btn-success" role="button" th:href="@{'https://wa.me/'+ ${produtos.user.telefone} + '?text=Olá!%20Gostaria%20de%20comprar%20um(a)%20'+ ${produtos.nome} +'.'}"><i class="bi bi-whatsapp"></i> Enviar mensagem</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
              </table>
    </div>
    
</body>
</html>