<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>

<body>
    <div class="container-fluid text-center">
        <div>
            <h1>Meus Produtos</h1>
        </div>
        <div class="m-2">
            <a class="h3" th:href="@{/meus-produtos/new}">Cadastrar</a>
        </div>
        <div th:if="${message}" class="alert alert-success text-center">
            [[${message}]]
        </div>
        <div>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>valor</th>
                        <th>Disponibilidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="produtos:${listProdutos}">
                        <tr>
                            <td>[[${produtos.id}]]</td>
                            <td>[[${produtos.nome}]]</td>
                            <td>[[${produtos.valor}]]</td>
                            <td>[[${produtos.disponivel}]]</td>
                            <td>
                                <a class="h4 mr-3" th:href="@{'/meus-produtos/edit/'+ ${produtos.id}}">Editar</a>
                                <a class="h4" th:href="@{'/meus-produtos/delete/'+ ${produtos.id}}">Deletar</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
        <a href="/">back</a>
    </div>
</body>

</html>