<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Lanchonete Fatec</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/vendedor/meus-produtos/{idUser}(idUser=${idUser})}" >Meus Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sair</a>
          </li>
        
        </ul>
        <span class="navbar-text">
          Sistema da Lanchonete da Fatec Cruzeiro
        </span>
      </div>
    </div>
  </nav>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

  <form th:action="@{/vendedor/meus-produtos/save}" method="post" th:object="${produto}"
      style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{user}">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nome:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{nome}" class="form-control" required minlength="2" maxlength="45" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Valor:</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{valor}" class="form-control" required  />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Disponibilidade:</label>
        <div class="col-sm-8">
          <input type="radio" th:field="*{disponivel}" value="Indisponível">Indisponível</input>
          <input type="radio" th:field="*{disponivel}" value="Disponível">Disponível</input>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Save</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
      </div>
    </div>

  </form>

</div>
<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/vendedor/meus-produtos/{idUser}(idUser=${idUser})}]]";
  }
</script>
</body>
</html>